@{
    ViewBag.Title = "Log In";
}

<div class="block black-on-white centered" id="loginFormWrapper">
    <h2 class="white-on-blue">Log In</h2>
    <div class="block-content">
        <label>Email</label>
        <input type="text" id="email" placeholder="email" />
        <label>Password</label>
        <input type="password" id="password" placeholder="password" />
        <button class="white-on-blue" onclick="userModule.login()">Log In</button>
        <div>Don't have account? <a href="/Account/Create">Create one!</a></div>
    </div>
</div>