@{
    ViewBag.Title = "Register";
}

<div class="block black-on-white centered" id="loginFormWrapper">
    <h2 class="white-on-blue">Create Account</h2>
    <div class="block-content">
        <label>Email</label>
        <input type="text" id="email" placeholder="email" />
        <label>Password</label>
        <input type="password" id="password" placeholder="password" />
        <label>Confirm Password</label>
        <input type="password" id="confirmpassword" placeholder="confirm password" />
        <button class="white-on-blue" onclick="userModule.register()">Create Account</button>
        <div>Already have an account? <a href="/Account/Create">Log in!</a></div>
    </div>
</div>
