<div class="block black-on-white card zoomable">
    <h2 class="white-on-blue">Project Name</h2>
    <div class="block-content">
        <label>Started On</label>
        <div>20/05/2017 at 17:50</div>
        <label>Last Commit On</label>
        <div>19/09/2017 at 09:23</div>
        <label>Number of commits</label>
        <div>163</div>
        <label>Status</label>
        <div>Ongoing</div>
        <button class="white-on-blue">Details</button>
    </div>
</div>