@using System.Globalization

@model ICollection<BusinessLogic.Models.Project>

<div id="myProjects" class="card-list">
    <table class="block black-on-white">
        <thead>
            <tr>
                <th>Project</th>
                <th>Started On</th>
                <th>Last Commit On</th>
                <th># Commits</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model)
            {
                <tr>
                    <td>
                        @if (project.IsGitRepo)
                        {
                            <img src="~/Assets/img/github.png" alt="[git]"/>
                        }
                        @project.Name
                    </td>
                    <td>@project.CreatedAt.ToString(CultureInfo.InvariantCulture)</td>
                    <td>Never</td>
                    <td>@project.Commits.Count</td>
                    <td>
                        <a href="/Project/Details/@(project.Id)">
                            <button class="white-on-blue">Details</button>
                        </a>
                    </td>
                </tr>
            }
            <tr class="empty">
                <td>
                    @if (!Model.Any())
                         {
                             <text>Nothing here so far</text>
                         }
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="/Project/Create">
                        <button class="white-on-blue">Add Project</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>