@using System.Globalization

@model ICollection<BusinessLogic.Models.Commit>

<table class="block black-on-white short">
    <thead>
        <tr>
            <th>Created At</th>
            <th>From</th>
            <th>To</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var commit in Model)
            {
            <tr>
                <td>@commit.CreatedAt.ToString(CultureInfo.InvariantCulture)</td>
                <td>@commit.From.ToString(CultureInfo.InvariantCulture)</td>
                <td>@commit.To.ToString(CultureInfo.InvariantCulture)</td>
                <td>
                    <div>@commit.Description</div>
                </td>
            </tr>
        }
        <tr class="empty">
            <td>
                @if (!Model.Any())
                {
                    <text>Nothing here so far</text>
                }
            </td>
            <td></td>
            <td></td>
            <td>
                <a href="/Commit/Create/@(ViewBag.ProjectId)">
                    <button class="white-on-blue">Add Commit</button>
                </a>
            </td>
        </tr>
    </tbody>
</table>
