.block {
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
}

.block-content {
    padding: 20px;
}

    .block-content > label + * {
        margin-bottom: 15px;
    }

        .block-content > label + *:last-child {
            margin-bottom: 0;
        }
