.card-list {
    text-align: center;
}

.card {
    text-align: initial;
    margin: 10px;
    display: block;
}

.card.zoomable:hover {
    transform: scale(1.05);
}

.card h2 {
    text-align: left;
    padding: 0 20px;
}

.card label + * {
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 0;
}