table {
    width: 100%;
    display: table !important;
}

table.short {
    width: 985px;
    display: inline-table !important;
    vertical-align: top;
}

tr {
    display: table-row;
}

    tr:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

th, td {
    line-height: 40px;
    padding: 0 10px;
    display: table-cell;
    text-align: left;
}

th {
    background-color: #191970;
    color: white;
}

tr.empty > td {
    line-height: 50px;
    text-align: right;
}

tr.empty > td:first-child {
    text-align: left;
}

.datetimepicker table * {
    line-height: normal;
    border-radius: 0;
}