<div id="navbar">
    <div class="profile-pic white-on-blue block">C</div>
    <div class="profile-buttons block white-on-blue">
        <button class="profile-button white-on-blue">Settings</button>
        <button class="profile-button white-on-blue">Log Out</button>
    </div>
</div>
